
@{
    ViewBag.Title = "View";
}
<h2>Trending Venues</h2>


@using (Html.BeginForm("GetPredictionFromWebService", "Trending", FormMethod.Post))
{
    <div class="container">
        <div class="row">
            <div class="form-box">
                <h2></h2>
                <form role="form" id="game-form">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                @Html.ValidationSummary(false, null, new { @class = "text-danger" })

                            </div>
                        </div>
                    }

                </form>
            </div>
        </div>
    </div>
   
}