@{
    ViewBag.Title = "Administrator Dashboard";
}

<div class="container">
    <div class="row">
        <div class="form-box">
            <h2>Administrator Dashboard</h2>
            <div class="well">
                <p>Nothing to see here yet</p>
            </div>
        </div>
    </div>
</div>
