@{
    ViewBag.Title = "Confirmation Email Sent";
}

<div class="container">
    <div class="row">
        <div class="form-box">
            <h2>@ViewBag.Title</h2>
            <section id="loginForm">
                <div class="form-group">
                    <center>
                        Please check your email to confirm your account.
                    </center>
                </div>
            </section>
        </div>
    </div>
</div>