<connectionStrings>
<add name= "DefaultConnection" connectionString="Server=tcp:sldiscussionhub.database.windows.net,1433;Initial Catalog=DiscussionHub_DB;Persist Security Info=False;User ID=abergman15;Password=SL_Discussion;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;">
</connectionStrings>