@model List<PickUpSports.Models.ViewModel.BusinessHoursViewModel>

<div class="well" style="padding-bottom: 20px">
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="row">
            <div class="col-md-12">
                @Html.ValidationSummary(false, null, new {@class = "text-danger", @id ="error-msg"})

            </div>
        </div>
    }
    <div class="row">
        <h5>Hours of Operation:</h5>
    </div>
    @if (Model.Count > 0)
    {
        foreach (var businessHour in Model)
        {
            <div class="row">
                @Html.DisplayFor(x => businessHour.DayOfWeek): @Html.DisplayFor(x => businessHour.OpenTime) - @Html.DisplayFor(x => businessHour.CloseTime)
            </div>
        }
    }
    else
    {
        <div class="row">
            We apologize. Business hours are not currently available for this venue.
        </div>
    }
</div>