@model PickUpSports.Models.ViewModel.GameController.CreateGameViewModel
@{
    ViewBag.Title = "SearchGame";
}

<h2>Search Games by Venue</h2>
<br />
<div class="row">
    <div class="col-md-3">
        <h2>Select Venue:</h2>
        @Html.DropDownListFor(
            x => x.VenueId,
            new SelectList(ViewBag.Venues, "Key", "Value"),
            "Select a Venue",
            new { @class = "form-control" })
    </div>
    <div class="col-md-9">
        <h2>List of Games:</h2>
        <table class="container" id="game-list">
            <thead>
            <tr>
                <th>Username</th>
                <th>Game Status</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
            </tbody>
        </table>
    </div>

    

</div>

@section search_games
{
    <script type="text/javascript" src="@Url.Content("/Scripts/searchVenues.js")"></script>
}

