@model PickUpSports.Models.ViewModel.GameController.CreateGameViewModel
@{
    ViewBag.Title = "SearchGame";
}

@Styles.Render("/Content/gameTable.css")

<br />
<h2>Search Games by Venue</h2>
<br />
    <div class="container">

        <div class="row">

            <div class="col-md-9" style="padding-right: 100px;">

                @Html.DropDownListFor(
                    x => x.VenueId,
                    new SelectList(ViewBag.Venues, "Key", "Value"),
                    "Select a Venue",
                    new { @class = "form-control" })

                <center>
                    <table class="rwd-table" id="game-list">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Game Status</th>
                                <th>Start Time</th>
                                <th>End Time</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>
                        </tbody>
                    </table>
                </center>
            </div>

        </div>

    </div>

@section search_games
{
    <script type="text/javascript" src="@Url.Content("/Scripts/searchVenues.js")"></script>
}

