@{
    ViewBag.Title = "Home Page";
}



<img src="~/Content/discussion_hub.jpg" class="img-fluid" alt="Responsive image" style="width: 100%">


<br /><br /><br /><br /><br />
<div class="container">
    <h2 id="quote" style="text-align: center; font-style: italic; color:#e6e2d3">"a discussion page for everyone"</h2>
</div>
<br /><br /><br /><br /><br />

<hr />

<br /><br /><br /><br /><br />




<div class="row">
    <div class="col-md-4">
        <h2 style="text-align:center">Getting started</h2>
        <br />
        <img src="~/Content/pic2.jpg" class="img-thumbnail" alt="Responsive image">
        <br /><br />
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="text-align: center">Get more libraries</h2>
        <br />
        <img src="~/Content/pic2.jpg" class="img-thumbnail" alt="Responsive image">
        <br /><br />
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="text-align: center">Web Hosting</h2>
        <br />
        <img src="~/Content/pic2.jpg" class="img-thumbnail" alt="Responsive image">
        <br /><br />
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<br /><br /><br /><br /><br />
<hr />
<br /><br /><br /><br /><br />
<div class="row">
    <div class="col-8">
        <h5>"Thanks to Discussion Hub I was able to share my ideas in a different platform without getting offended. There moderation service is outstanding, and they keep me up-to-date with the news and the current disucssions </h5>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-4">

    </div>
</div>
<br /><br /><br /><br /><br />