@model PickUpSports.Models.ViewModel.HomeController.ContactUsViewModel

@{
    ViewBag.Title = "About Rec Nexus";
}

<div class="container">
    <div class="row">
        <div class="form-box">
            <h2>Our Vision Statement</h2>
            <p>
                <center>
                    For active individuals who would like to utilize local parks and facilities and engage in sports with other individuals, Nec Rexus is a web application that reintroduces the sense of community and opens doors for available facilities with help from park and venue owners. This application will help users form groups through common sport interests or activity interests and at the same time obtain details and reviews on the facilities where these sports can take place. Unlike other sport grouping applications, our website encourages entities and owners to sign up and keep their venue information up to date and ensure time slots are available for players to provide a seamless and enjoyable experience to those wanting to use their facilities. Our website also allows players to find and interact with others near them with similar sport preferences or who can play at the same times. These features provide an interactive way for players and venues to come together through mutual interests and to get out and play!
                </center>
            </p>
        </div>
    </div>
</div>


<hr/>
@using (Html.BeginForm("Contact", "Home", FormMethod.Post))
{
    <div class="container">
        <div class="row">
            <div class="form-box">
                <h2>Contact Us</h2>
                <center>
                    <p>
                        If you see any misinformation on our site, wish to have your facility added,<br />
                        or for any general inquiries, please use the form below to contact us.
                    </p>
                </center>

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="row">
                        <div class="col-md-12">
                            @Html.ValidationSummary(false, null, new { @class = "text-danger" })

                        </div>
                    </div>
                }

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" placeholder="Your Name" name="Name">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" placeholder="Email Address" name="Email">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <textarea class="form-control" style="resize:none;" rows="10" placeholder="Questions or comments" name="Message"></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <center>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </center>
                    </div>
                </div>

                @if (ViewBag.SubmitEmailSent != null && ViewBag.SubmitEmailSent)
                {
                    <div class="form-group">
                        <center>
                            <p><span class="glyphicon glyphicon-ok"></span> Your inquiry has been sent!</p>
                            <p>Please allow 24-48 hours for an administrator to get back to you.</p>
                        </center>
                    </div>
                }
            </div>
        </div>
    </div>
}
