@{
    ViewBag.Title = "Home Page";
}

<div class="w3-display-container w3-animate-opacity">

    <div class="row">
        <div ng-view></div>
    </div>
</div>


<div class="w3-row-padding w3-padding-64 w3-center w3-theme-l1" id="vision">
    <h3>Our Vision Statement</h3>
    <p>For active individuals, who would like to utilize the facilities and egage in activities with other individuals, Pickup Sport is a web application that reintroduces the sense of commmunity and open doors for available space. This application will help users form sports groups through common interest, and at the same time obtain information on the facilities. Unlike other sport grouping applications, our product will also feature the information on facilities in the region including rating and availability.</p>
</div>