@using PickUpSports.Models.DatabaseModels
@model PickUpSports.Models.ViewModel.FriendInviteViewModel
@{
    ViewBag.Title = "FriendInvite";
}

<h2>Invite a Friend!</h2>

@using (Html.BeginForm("FriendInvite", "Friends", FormMethod.Post))
{
   @Html.DropDownList("FriendName",ViewBag.FriendName)
@*     <select id="Gameselect" name="GameTitle"> *@
@*         *@
@*         @foreach(var game in Model.Games) *@
@*         { *@
@*             <Option value="@game.GameId">@game.Venue</Option> *@
@*         } *@
@*     </select>  *@
       
    <input type="submit" name ="button" value="Send Invite" class="btn btn-default" />
}