@model PickUpSports.Models.ViewModel.VenueOwnerController.ClaimVenueFormViewModel

@{
    ViewBag.Title = "Claim Venue";
}

@using (Html.BeginForm("ClaimVenue", "VenueOwner", FormMethod.Post))
{
    <div class="container">
        <div class="row">
            <div class="form-box">
                <h2>Claim @Model.VenueName</h2>
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                @Html.ValidationSummary(false, null, new { @class = "text-danger" })

                            </div>
                        </div>
                    }
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="First Name" name="FirstName">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Last Name" name="LastName">
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" placeholder="Company name (if different from venue name)" name="CompanyName">
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Email Address" name="Email">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Phone Number" name="PhoneNumber" pattern="\(?\d{3}\)?-? *\d{3}-? *-?\d{4}">
                        </div>
                    </div>
                </div>
                
                <center>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <input type="file" class="form-control" data-icon="false">
                        </div>
                    </div>

                </center>
                <div class="form-group">
                    <center>
                        <button type="submit" class="btn btn-default">Submit Form</button>
                    </center>
                </div>

                @if (ViewBag.GameCreated != null && ViewBag.GameCreated)
                    {
                        <div class="form-group">
                            <center>
                                <p><span class="glyphicon glyphicon-ok"></span> Game created successfully!</p>
                            </center>
                        </div>
                    }
            </div>
        </div>
    </div>
}
