@model PickUpSports.Models.ViewModel.ContactController.ProfileViewModel


<div class="container">
    <div class="row">
        <div class="form-box">
            <h2>@Model.Username's Profile</h2>
        </div>
    </div>
</div>