<appSettings>
  <add key="reCaptchaPrivateKey" value="6LeQnpIUAAAAAPPpF-w2tE03vJyqH3k2Wdn0xVGB"></add>
  <add key="siteKey" value= "6LeQnpIUAAAAAHRXhsBeUHrT15dV6K3AG3PwKBLr"></add>
  <add key="GoogleClientId" value="327183668515-f7fgea4nk9vu4179tjqcppjd7i674vsn.apps.googleusercontent.com"/>
  <add key="GoogleClientSecret" value="6db_swJrqIn55AU4mRxy8SBQ"/>
</appSettings>