@model PickUpSports.Models.ViewModel.ContactController.SportPreferenceViewModel

@Html.HiddenFor(x => x.ContactId)
@if (Model.SportName != null && Model.SportName.Count > 0) 
{
    <ul class="list-group">
        @foreach (var sport in Model.SportName)
        {
            <li class="list-group-item"><center>@Html.DisplayFor(x => sport)</center></li>

        }
    </ul>
}
else
{
    if (Model.IsPublicProfileView)
    {
        <h4>This user doesn't have any sport preferences set yet.</h4>
    }
    else
    {
        <h4>You do not have any sport preferences set yet.</h4>
    }
}

@if (!Model.IsPublicProfileView)
{
    <center>@Html.ActionLink("Edit", "ModifySportPreferences", "SportPreferences")</center>
}
