@model PickUpSports.Models.ViewModel.ContactController.SportPreferenceViewModel
@{
    ViewBag.Title = "Details";
}
<br />

<div class="container">
    <div class="row">
        <div class="well well-sm">

            <fieldset>
                <legend class="text-center header">Your Sports Preferences</legend>

                <dt>
                    @Html.DisplayNameFor(model => model.SportName)
                </dt>
                @foreach (var name in Model.SportName)
                {
                    <dd>
                        @name
                    </dd>
                }
            </fieldset>
        </div>
    </div>
    <p>
        @Html.ActionLink("Edit My Sport Preference", "Create")
    </p>
</div>


